@import "leaflet/dist/leaflet.css";

/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .hide-scroll {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  .hide-scroll::-webkit-scrollbar {
    display: none; /* Chrome, Safari and Opera */
  }
}

/* Global height reset for map pages */
router-outlet + app-explore-map {
  flex: 1;
  display: block;
  height: 100vh;
  overflow: hidden;
}
