#map {
  width: 100%;
  height: 100%;
  z-index: 0;
}

:host ::ng-deep .custom-div-icon {
  background: none;
  border: none;
}

:host ::ng-deep .leaflet-popup-content-wrapper {
  border-radius: 12px;
  padding: 0;
  overflow: hidden;
}

:host ::ng-deep .leaflet-popup-content {
  margin: 12px;
}

:host ::ng-deep .leaflet-control-zoom {
  border: none !important;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1) !important;
}

:host ::ng-deep .leaflet-control-zoom-in,
:host ::ng-deep .leaflet-control-zoom-out {
  border-radius: 8px !important;
  margin-bottom: 4px;
  background-color: white !important;
  color: #333 !important;
}
